body {
  font-family: 'Questrial', sans-serif;
  margin: 0;
  color:white;
  background-color: #536182;
}

.container {
  display: grid;
  grid-template-columns: 2vw auto 2vw;
  grid-template-rows: 10% 5% auto;
}

.header {
  grid-column-start: 2;
  grid-row-start: 1;
  
}

.header h1 {
  margin: 3vw 0 0 0;
}

.menu {
  grid-column-start: 2;
  grid-row-start: 2;
}

.menu ul{
  vertical-align: middle;
  display: inline-block;
}

.menu li{
  float: left;
  margin-right: 10vw;
  list-style: none;
}

.menu a{
  color: white;
}

.menu a:hover{
  background-color: blue;
}

.content {
  grid-column-start: 2;
  grid-row-start: 3;
}

.userList{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 10%;
}

.userList .row-1{
  grid-column-start: 1;
  grid-row-start: 1;
}

.userList .row-2{
  grid-column-start: 1;
  grid-row-start: 2;
}

table tbody tr{
  height: 2em;
}

.userList table{
  width: 100%;
  border-spacing: 0;
}

.editUserName{
  width: 22vw;
}

.editUserEmail{
  width: 36vw;
}

.userList table td{
  border: 0;
}

.userList table tr:nth-child(even){
  background-color: #6c7b9f;
}

.userList button{
  color: #536182;;
  height: 20px;
  border-radius: 4px;
  border: 0;
  background-color: white;
  cursor: pointer;
}
.userList button:disabled {
  display: none;
}
.userList button:hover{
  color: white;
  background-color: #ffffff30;
}

.userList button:active{
  border: 1px;
  border-color: #536182;
  transform: translateY(2px);
  color: #536182;
  background-color: white;
}

.userList td button{
  float: right;
  margin: 0 0 0 8px;
}



