body {
  font-family: 'Questrial', sans-serif;
  margin: 0;
  color:#eee;
  background-color: #536182;
}

.container {
  display: grid;
  grid-template-columns: 2vw auto 2vw;
  grid-template-rows: 10% 5% auto;
}

.header {
  grid-column-start: 2;
  grid-row-start: 1;
  
}

.header h1 {
  margin: 3vw 0 0 0;
}

.menu {
  grid-column-start: 2;
  grid-row-start: 2;
}

.menu ul{
  vertical-align: middle;
  display: inline-block;
}

.menu li{
  float: left;
  margin-right: 10vw;
  list-style: none;
}

.menu a{
  color: #eee;
}

.menu a:hover{
  background-color: blue;
}

.content {
  grid-column-start: 2;
  grid-row-start: 3;
}

.userList{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 10%;
}

.userList .row-1{
  grid-column-start: 1;
  grid-row-start: 1;
}

.userList .row-2{
  grid-column-start: 1;
  grid-row-start: 2;
}

table tbody tr{
  height: 11vw;
}

.userList table{
  width: 100%;
  border-spacing: 0;
  overflow-x: auto;
}

.inputUserName{ width: 23vw; }
.inputUserEmail{ width: 32vw; }

.userList table td{
  overflow: hidden;
  padding-left: 1vw; 
}

.tdA{ max-width: 10vw; }
.tdB{ max-width: 20vw; }
.tdC{ max-width: 7vw; }

.userList table tr:nth-child(even){
  background-color: #6c7b9f;
}

button{
  color: #536182;
  height: 10vw;
  border-radius: 4px;
  border: 0;
  border-bottom: 2px solid;
  border-color: #c1cbce;
  background-color: #eceff0;
  cursor: pointer;
}

.userList button:disabled {
  display: none;
}
.userList button:hover{
  color: white;
  background-color: #ffffff30;
}

.userList button:active{
  border-top: 2px solid;
  border-bottom: 0px solid;
  border-color: #c1cbce;
  transform: translateY(2px);
  color: #536182;
  background-color: #eceff0;
}

.userList td button{
  float: right;
  margin: 1px 0 0 8px;
}


.userList input {
  height: 8vw;
  background-color: #eceff0;
  border: 0;
  margin: 1vw;
  border-radius: 4px;
  padding-left: 1vw;
  color: #536182;
}

